{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card or Band?</title>
    <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
</head>
<body>
    <div class="quiz-wrapper">
        <h1>Card or Band?</h1>
        <p>Does the name belong to a black Magic the Gathering card or a metal band?</p>
        <div class="main-display">
            <h2 class="question"></h2>
            <h2 class="initial-feedback"></h2>
        </div>
        <div class="buttons">
            <button class="card-button">Card</button>
            <button class="band-button">Band</button>
            <button class="next" disabled>Next</button>
        </div>
        <h3>streak: <span class="streak">0</span></h3>
        <div class="feedback">
            <h3 class="previous-question">Previous Question:</h3>
            <h3 class="feedback-name"></h3>
            <h3 class="previous-guess">Your Guess: <span class="feedback-choice"></span> - <span class="feedback-correctness"></span></h3>
        </div>
    </div>

</body>
<script>
    quiz_api_url = "{% url 'quiz_question' %}";
</script>
<script src="{% static 'quiz/js/quiz.js' %}"></script>
</html>