{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card or Band?</title>
</head>
<body>
    <h1>Card or Band?</h1>
    <h2 class="question">{Question Goes Here}</h2>
    <button class="card-button">Card</button>
    <button class="band-button">Band</button>
    <button class="next" disabled>Next</button>
    <h3>streak: <span class="streak">0</span></h3>
    <div class="feedback">
        <h2>Previous Question:</h2>
        <h3 class="feedback-name"></h3>
        <h4>Your Guess: <span class="feedback-choice"></span> - <span class="feedback-correctness"></span></h4>
    </div>
</body>
<script src="{% static 'quiz/js/quiz.js' %}"></script>
</html>